{% extends "base.html" %}
{% block title %}{{ journey.title }}{% endblock %}
{% block content %}
  <h1>{{ journey.location }} - ${{ journey.cost }}</h1>
  <p class="date">
      Опубликовано {{ journey.created }} автором {{ journey.author }}
  </p>
  <li class="list-group-item">
    <a href="{% url 'journey:profile' journey.author.username %}">
      все путешествия пользователя
    </a>
  </li>
  <h3>Места культурного наследия</h3>
  {% for place in journey.places.all %}
    <li><strong>{{ place.name }}</strong></li>
    <li><strong><a href="{{ place.link }}">{{ place.link }}</a></strong></li>
  {% endfor %}
{% endblock %}