{% extends "base.html" %}
{% block title %}My Journey{% endblock %}
{% block content %}
  <h1>My Journey</h1>
  {% for journey in journeys %}
    <h2>
      <a href="{% url 'journey:journey_detail' journey.id %}">
        {{ journey.location }}
      </a>
    </h2>
    <p class="date">
      Опубликовано {{ journey.created }} автором {{ journey.author }}
    </p>
    {{ journey.location|truncatewords:30|linebreaks }}
    ${{ journey.cost}}
    <br>
    <br>
    {{ journey.heritage|truncatewords:30|linebreaks }}
  {% endfor %}
  {% include "pagination.html" with page=journeys %}
{% endblock %}